.editorconfig
.htaccess
.htaccess.sample
.php_cs.dist
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
auth.json.sample
bin/
composer.json
composer.lock
dev/
generated/
grunt-config.json.sample
launch.json
lib/
nginx.conf
nginx.conf.sample
package.json.sample
phpserver/
pub/
setup/
var/
vendor/